<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </head>
    <body>

        <div id="maindiv"></div>

        <script>
            $(document).ready(function () {
                $.ajax({
                    url: "/users",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        let output = '';
                        $.each(data, function(name, age) {
                            output += name + " is " + age + " years old<br>";
                        });
                        $('#maindiv').html(output);
                    }
                });
            });
        </script>
    </body>
</html>